#bigDiv
{
    width:58%;
    height:90%;
    background:aquamarine;
    border: solid black 2px;

}
.smallDiv
{
    width:58%;
    height:90%;
    background: cornflowerblue;
    border: solid darkred 2px;
}

#result
{
    color : red;
    font-weight: bold;
    font-size: large;
}