
#bigDiv {
    border-radius: 25px;
    background: url(calculator.jpg);
    padding: 20px;
    width: 30%;
    height: 100%;



}
.smallDiv
{
    border-radius: 25px;
    background: lightblue;
    padding: 20px;
    width: 30%;
    height: 100%;
    border:3px solid black;

}

#result
{
    color : red;
    font-weight: bold;
    font-size: large;
}